# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Exclude all .tfvars files, which may contain sentitive data and other info subject 
# to change depending on the environment.

*.tfvars

# Ignore CLI configuration files
.terraformrc
terraform.rc

# Ignore Mac/OSX system file, with the folder metadata
.DS_Store
